<nav class="navbar  bg-body-tertiary d-flex flex-row">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../../../assets/agri_logo.jpeg" alt="logo">
        </a>
        <input class="form-control me-2 searchInputBox" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <!-- Web options starts -->

    @if (screenWidth >=600) {
        <div class="container-fluid mt-2">

            <i class="fas fa-home navbar-brand ms-2"></i>
            <i class="fas fa-indian-rupee navbar-brand"></i>
            <i class="fas fa-user navbar-brand"></i>
            <i class="fas fa-camera navbar-brand"></i>
            <i class="fas fa-share navbar-brand"></i>
        </div>
    
        <div class="container-fluid">
    
            <i class=" navbar-brand ms-1">Home</i>
            <i class=" navbar-brand ms-1">Bhaav</i>
            <i class=" navbar-brand ms-1">Profile</i>
            <i class=" navbar-brand ms-1">Photos</i>
            <i class=" navbar-brand ms-1">Share</i>
        </div>
    }
    <!-- Web options starts -->

</nav>