@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.searchInputBox{
    width: 50% !important;
    display: unset;
}

/* .footer{
    background-color: white;
} */


table ,.accordion-button{
    font-size: 0.65em;
}

.routerOutletWebClass{
    margin-top: 120px;
}

.routerOutletMobileClass{
    margin-top: 80px;
}

.header{
    background-color: aliceblue;
    opacity: 0.9;
}

.footer-icon{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.footer-icon-home{
    background-image: url(../src/assets/home.svg);
}

.footer-icon-indian-rupee{
    background-image: url(../src/assets/rupee-sign.svg);
}
.footer-icon-calculator{
    background-image: url(../src/assets/calculator.svg);
}
.footer-icon-camera{
    background-image: url(../src/assets/info-circle.svg);
}
.footer-icon-share{
    background-image: url(../src/assets/home.svg);
}