<!-- Mobile Footer Starts -->
@if (screenWidth<600) {
    <nav class="navbar fixed-bottom m-2">
        <div class="container-fluid">
    
            <i class="fas fa-home navbar-brand" routerLink="/home"></i>
            <i class="fas fa-indian-rupee navbar-brand" routerLink="/mandibhaav"></i>
            <i class="fas fa-user navbar-brand" routerLink="/"></i>
            <i class="fas fa-camera navbar-brand" routerLink="/"></i>
            <i class="fas fa-share navbar-brand" routerLink="/settings"></i>
        </div>
    </nav>
}
<!-- Mobile footer Ends -->