<!-- Header Starts -->
@if (isHeader) {
<nav class="navbar fixed-top header d-flex flex-row">
    @if (!(dataStore.currentPage=='login')) {
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img class="logo" src="../../../assets/agri_logo.jpeg" alt="logo">
        </a>
        <input (focus)="dataStore.globalSearchActive=true" class="form-control me-2 searchInputBox" placeholder="Search"
            aria-label="Search" [(ngModel)]="globalSearch">
        @if (dataStore.globalSearchActive && globalSearch!="" ) {
        <button class="btn btn-outline-success">
            <i class="fas fa-search"></i>
        </button>
        }

        <!-- <i class="fas fa-search"></i> -->
        <!-- @if (userSession==null) {} -->
        @if (dataStore.isLoggedIn) {
        <button (click)="loggedInUser()" class="ml-1 mr-1 btn btn-outline-success">
            <i class="fas fa-user"></i>
        </button>

        }@else {
        <button (click)="dataStore.currentPage='login'" class="ml-1 mr-1 btn btn-outline-success">
            <i routerLink="/login">Login</i>
        </button>
        }

    </div>
    }


    <!-- Web options starts -->
    @if (screenWidth >=600 && !(dataStore.currentPage=="login")) {

    <div class="container-fluid">

        <i class=" navbar-brand-for-blank-place"></i>

        @for (item of menuItemsList; track $index) {
        <i [class.navbar-brand]="true" [routerLink]="item.routerLink">
            {{item.name}}
        </i>

        }
        <i class=" navbar-brand-for-blank-place"></i>
    </div>
    }
    <!-- Web options starts -->

</nav>
}
<!-- Header Ends -->

<!-- Mobile Footer Starts -->
@if (screenWidth<600 && isFooter && !(dataStore.currentPage=="login" )) { <nav
    class="navbar fixed-bottom m-2 bg-body-tertiary">

    <div class="container-fluid">

        @for (item of menuItemsList; track $index) {
        <!-- <i [classList]="item.iconsClassList" [routerLink]="item.routerLink"  
        ></i>
        <i class="fa-solid fa-sort-up fa-xs" style="color: #135736;"></i> -->

        <div class="icon-container">
            @if($index==this.dataStore.activeFooterIconNumber){
            <i class="fa-solid fa-sort-up fa-xs mb-1" style="color: #135736;"></i>
            }
            <i [classList]="item.iconsClassList" [routerLink]="item.routerLink"></i>

        </div>
        }

    </div>
    </nav>
    }
    <!-- Mobile footer Ends -->


    <div class="card flex justify-content-center">
        <!-- <p-button (click)="showDialog()" label="Show" /> -->
        <p-dialog header="{{user.name==''||user.name==null?'No name!':user.name}}" [modal]="true" [(visible)]="visible"
            [style]="{ width: '20rem' }">

            <!-- <div class="overlay-content">
                <div class="user-details">
                    <p>Contact Number: <strong>{{ user.contactNumber }}</strong></p>
                    <p>Access: <strong>{{ user.role==undefined||user.role==null?'---':user.role.rolename}}</strong></p>
                    <p>Farm: <strong>{{ user.farm==undefined||user.farm==null?'---':user.farm}}</strong></p>
                    <p>Email: <strong>{{ user.email==undefined||user.email==null?'---':user.email}}</strong></p>
                </div>
            </div> -->
            <div class="overlay-content">
                <div class="user-details">
                  <div class="detail">
                    <img src="../../../assets/agri_logo.jpeg" class="userProfileImg">
                  </div>
                  <div class="detail">
                    <h4>Contact Number</h4>
                    <p>{{ user.contactNumber }}</p>
                  </div>
                  <div class="detail">
                    <h4>Role</h4>
                    <p>{{ user.role==undefined||user.role==null?'---':user.role.rolename}}</p>
                  </div>
                  <div class="detail">
                    <h4>Email</h4>
                    <p>{{ user.email==undefined||user.email==null?'---':user.email}}</p>
                  </div>
                </div>
              </div>
            <div class="flex justify-content-end gap-2">

                <button (click)="visible = false;logOut()" type="submit" pButton pRipple class=" mr-2 bg-gray-700"
                    style="border-radius: 5px;">Logout</button>

                <button (click)="visible = false;dataStore.currentPage='login';dataStore.isUserEditFlag=true"
                    type="submit" pButton pRipple class=" ml-2" style="border-radius: 5px;background-color: #198754;"
                    routerLink="/signup">Edit  </button>
            </div>
        </p-dialog>
    </div>