<!-- <div class="dropdown" >
   Change Language
    <div >
      <a [class.selected]="this.dataStore.isHindi" style="margin: 2px;cursor: pointer;" (click)="changeLanguage('Hindi');languageChangeConfirmation=true" >Hindi</a>
      <br><a [class.selected]="this.dataStore.isEnglish" style="margin: 2px;cursor: pointer;" (click)="changeLanguage('English');languageChangeConfirmation=true">English</a>
    </div>

    @if(languageChangeConfirmation){
        <p style="color: green;" >
            Language Changed Successfuly
        </p>
    }
  </div> -->