<div style="box-shadow: 5px black;" >
    {{dataStore.messageAlert}}
</div>
@if (!dataStore.isLoggedIn) {
    <div class="m-2" style="color: #198754;">
        Register now to explore more!
    <a routerLink="/signup" (click)="dataStore.showHeaderFooter=false">Click here</a>
    </div>
}

<!-- Weather Starts -->
<div class="grid">
    <div class="col-12">
        <div class="text-center p-3 border-round-sm font-bold " style="border: 1px solid #198754;color: black;">
            <app-weather> </app-weather>
        </div>
    </div>
</div>
<!-- Weather Ends -->

<!-- Carousel Starts -->
<div class="grid">
    <div class="col-12">
        <div class="text-center border-round-sm font-bold " style="border: 1px solid #198754;color: black;">
            <app-carousel></app-carousel>
        </div>
    </div>
</div>
<!-- Carousel Ends -->

<!-- Latest Mandi Bhav for current location Starts -->
<div class="grid">
    <div class="col-12">

        <div class="text-center p-1 border-round-sm font-bold" style="border: 1px solid #198754;">
            <!-- <h3>{{this.dataStore.currentLocation.city}} Mandi Rates</h3> -->
            <h4>Mandi rates in your Area</h4>
            Refresh <i class="mr-2 fas fa-rotate" (click)="processData(this.currentLocationDefaultMandiPriceList)"></i>
           
            @if (this.dataStore.latestMandiBhaavList.length>0) {
                @for (marketPrice of this.dataStore.latestMandiBhaavList; track $index) {
                    <div>
                        <h6>Market: {{ marketPrice.market }}</h6>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Commodity</th>
                                    <th scope="col">Min Price</th>
                                    <th scope="col">Max Price</th>
                                    <th scope="col">Modal Price</th>
                                    <th scope="col">Updated On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (price of marketPrice.prices; track $index) {
                                <tr>
                                    <td>{{ price.commodity }}</td>
                                    <td>{{ price.minPrice }}</td>
                                    <td>{{ price.maxPrice }}</td>
                                    <td>{{ price.modalPrice }}</td>
                                    <td>{{ price.priceEndDate }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
        
                    </div>
                    }
            }
            @if (marketPrices.length==0) {
                <i style="color: gray;font-size: 0.6em;">Loading Latest Market Rates For You...</i>
                
            }

        </div>
    </div>
</div>
<!-- Latest Mandi Bhav for current location Ends -->

<div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold"
            style="border: 1px solid #198754;color: black;min-width: 200px;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold"
            style="border: 1px solid #198754;color: black;min-width: 200px;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>
</div>