<div class="grid">
    <div class="col-12" style="max-width: 200px !important;">
        <div class="text-center p-3 border-round-sm bg-primary font-bold homeComponent">
            <app-weather> </app-weather>
        </div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold homeComponent">2</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold homeComponent">3</div>
    </div>
    <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold homeComponent">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold homeComponent">2</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold homeComponent">3</div>
  </div>
  </div>